build.xml
manifest.mf
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
/build/
/target
/dependency-reduced-pom.xml
maven-archiver
surefire
test-classes
webmaven
customer_mvn-1.jar
customer_mvn-1-shaded.jar
original-customer_mvn-1.jar
webmaven.war
classes
/target/maven-archiver/pom.properties
private
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/project.properties
/nbproject/project.xml
build-impl.xml
genfiles.properties
project.properties
project.xml
/nbproject/